/* Two-column layout */
.left-column {
  width: 20%;
  height: 92%;
  float: left;
}
.left-column h2, .left-column h3 {
  color: #0F4C8199;
}
.left-column h2:last-of-type, .left-column h3:last-child {
  color: #0F4C81;
}
.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}
.pull-left {
  float: left;
  width: 47%;
}
.pull-right {
  float: right;
  width: 47%;
}
.pull-right ~ * {
  clear: both;
}

/* Alternative two-column layouts */
.pull-left-wide {
  width: 70%;
  float: left;
}
.pull-right-narrow {
  width: 27%;
  float: right;
}
.pull-right-narrow ~ * {
  clear: both;
}

/*Left 30% - Right 70% */
.pull-left-narrow {
  width: 30%;
  float: left;
}
.pull-right-wide {
  width: 67%;
  float: right;
}
.pull-right-wide ~ * {
  clear: both;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}